mlflow==2.3.1
jupyter
numpy
scikit-learn==1.2.2
pandas
seaborn
hyperopt==0.2.7
xgboost
prefect==2.19.7
tqdm
requests
joblib
pyarrow
psycopg
psycopg_binary
evidently
numpy
jupyter
gunicorn
pylint
pre-commit
boto3
